<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content class="padding">
        <div>
            <!--<img class="logo" src="img/logo.png">-->


            <form name="registerForm" novalidate ng-submit="relationship()">
                <div class="list" style="top: calc(50vh - 250px/2);">
                    <div>
                        <h4 style="text-align: center;">Who is your girl/guy?</h4>
                        <h6 style="text-align: center;">We'll keep eye out for you</h6>
                    </div>
                    <div class="item item-input">
                        <input type="tel" placeholder="Enter mobile" name="mobile" ng-model="relationshipData.relationshipmobile" />
                    </div>
                    <button type="submit" class="button button-block button-positive">
                        <span class="icon ion-forward"></span>Next
                    </button>
                    <button type="submit" class="button button-clear button-positive">
                        Skip
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
<!--<ion-view class="login_view">
  <ion-content class="login_content">

    <div class="list padding login_container">
      <form name="loginForm" ng-submit="relationship()">-->
        <!--<div class="item text-center border_bottom_none">
          <img src="img/logo.png" alt="" class="logo"/>
        </div>-->
          <!--<div>
              <h4 style="text-align: center;">Who is your partner in crime ?</h4>
              <h6 style="text-align: center;">We'll keep eye out for you</h6>
          </div>


          <div class="item item-input">
              <input type="tel" placeholder="Enter mobile" name="mobile"  ng-model="relationshipData.relationshipmobile" />
          </div>
          <button type="submit" class="button button-block button-outline color_ff font_bold login_btn"                >
              <span class="icon ion-log-in"></span>Next
          </button>
          <button type="submit" class="button button-clear button-positive">
              Skip
          </button>
      </form>
    </div>

  </ion-content>
</ion-view>-->
