<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="list text-center padding">
        <div class="list text-center padding">
            <img class="logo" src="img/logo.png">
        </div>
      <h2><span class="bold">Forgot Password?</span></h2>
  
    </div>
    <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && resetPassword(user)">
      <div class="list">
        <label class="item item-input" style="margin-bottom: 10px;">
         
          <input name="email" type="tel" ng-model="user.email" placeholder="Mobile" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <input type="submit" class="button button-block button-positive" value="Forgot Password" >
      </div>
    </form>
    <button onclick="location.href='#/login';" class="button button-assertive button-block button-no-margin-top">Back to Login</button>
  </ion-content>
</ion-view>
