<ion-view view-title="" class="home_view bg_view">
    <button class="button btn-round btn-float button-assertive">
        <i class="icon ion-chatbubbles"></i>
    </button>
    <ion-content class="home_content">
        <div></div>
        <h2 ng-show="Message.title" style="text-align: center;">{{Message.title}}</h2>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in relationship" type="item-text-wrap" href="#/app/RelationshipChat-detail/{{chat.mobile}}">
            <h2>{{chat.name}}</h2>
            <p>{{chat.mobile}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(chat)">
                Delete
            </ion-option-button>
        </ion-item>

    </ion-content>
</ion-view>
