<ion-view class="search_view bg_view">
    <ion-content class="search_content">
        <div class="bar item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear" ng-click="changeState('app.tabs.home')">
                Cancel
            </button>
        </div>
        <div class="list">
            <div class="padding">Search History</div>
            <div class="item">Apple</div>
            <div class="item">Samsung</div>
            <div class="item">Lenovo</div>
            <div class="item">Key Chains</div>
        </div>
    </ion-content>
</ion-view>
