﻿<ion-view hide-nav-bar="true" style="background-image: url('img/lg-logo.png'); opacity: 0.6;">
  
     <ion-content>
        <div class="container">
            <!--<div class="col"><button class="button button-block button-positive" onclick="location.href = '#/esCtrl';">LOG IN</button></div>-->
        </div>
        <div class="row" style="padding-top:150%;">
            <div class="col"><button class="button button-block button-positive" onclick="location.href='#/register';">SIGN UP</button></div>
            <div class="col"><button class="button button-block button-positive" onclick="location.href='#/login';">LOG IN</button></div>
        </div>
    </ion-content>
</ion-view>
